[Unit]
Description=c2a Responses API socket

[Socket]
ListenStream=%t/c2a/c2a.sock
SocketMode=0600
DirectoryMode=0700
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
